:root {
    --main-color1: #178E7C;
    --main-color2: #f88379;
    --hightlight: #d3d3d3;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   line-height: 1.618em;
   font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
   
}

html {
	font-size: 16px;

    margin-top: 3em;

    background-image: url("/images/full-bloom.png");
    overflow: auto;
}

header,
main,
footer {
	margin: 0 auto;
    max-width: 800px;
}

header {
    text-align: center;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2 {
    padding-bottom: .5em;
    padding-top: .5em;
    color: var(--main-color1);
}


.container {
    width: 50%;
    height: 80vh;
    margin: auto;
    /* overflow: auto;  */
}


nav {
    position: fixed;
    top: 0;
	left: 0;
	width: 100%;

	display: flex;
	flex-flow: row;
    justify-content: center;
    
    background: var(--main-color2);
}

nav a {
	padding: .5em 2em;
	text-decoration: none;
	color: #fff;
}

nav a:hover {
    background: var(--hightlight);
    color: var(--main-color2);
}

#content {
	margin: 0;

	padding-top: 2em;
	max-height: 10em;
}

div ul {
    padding-left: 1.5em;
}

#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 1.5em;
}


#content p {
    text-align: center;
    color: var(--main-color1);
    padding-bottom: 1.5em;
}

#content a {
    border-radius: 1.8vh;
    padding: 5px;
    border: 2px solid var(--main-color1);
    cursor: pointer;
    color:white;
    background: var(--main-color1);


}

#content a:hover {
    color: var(--main-color1);
    background: var(--hightlight);
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 2em;
    margin-bottom: 1em;
	color: #A2788C;
	padding: 1em 0;
    text-align: center; 
}

#category {
    text-align: center;
}

#reviews {
    text-align: center;
    padding: 4em;
    margin: .5em 0;
}

#gameList {
    padding-top: 1em;
}

#gameImages {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
   
    padding-top: 6em;
}

#gameImages article img {
    width: 100%;
    height: auto;
    object-fit: fill;
    border: 2px solid black;
    position: relative;

}

#tagsContainer {
    display: flex;
    position: relative;
    
}


#showTags {
    position: absolute;
    left: .25em;
    top: 3em;

    align-items: center;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 1em;
    
}

#showTags div {
    display: flex;
    flex-wrap: nowrap;
    max-width: 140px; 
    height: 100%;
    padding: 1px;
    border: 2px solid #202020; 
    background: var(--main-color2);

   
    
}

#showTags div:hover {
    background: var(--hightlight);
    
}

#showTags a:hover {
    color: var(--main-color2); 
}

#showTags button {
    background: none;
    border: none; 
    right:.25px;
    font-size: 20px;
}
#showTags button:hover {
    background: var(--hightlight);
    color: var(--main-color2); 
}



#tagForms {
    position: fixed;
    bottom: 6em;
    left: 1em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto; 
}

#commentsContainer {
    margin-top: 10px;
    padding-top: 10px;
    position: fixed;
    bottom: 3em;
    right: 1em;
    overflow: auto;
    height: 17vh;
    width: 30vw;
}

.commentBox {
    border: solid 1px;
    background-color: white;
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: 0;
}

.commentBox p {
    padding-left: 10px;
}

#commentForm {
    width: 83%;
    margin-left: auto;
}

#commentsLabel {
display: inline;
margin-left: auto;
}

#addComment {
   display:inline;
   margin-right: 0;
   margin-left: auto;
}

#addComment input[type="text"] {
    width: 35%;
}

#commentedByLine {
	text-align: right;
}

#tagList {
    display: flex;
    padding: .1vh;
    margin: .5em 0;
    overflow: auto;
}





